@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");

* {
    font-family: "Fira Sans", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar h1 {
    margin: 2vw;
}
.links {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
}
.links a {
    background-color: red;
    border-radius: 0.5vw;
    text-decoration: none;
    color: black;
    padding: 0.5vw;
}
.cardHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    max-width: 50vw;
}
.cardBox {
    height: auto;
    font-size: 3rem;
    border: 5px solid black;
    border-radius: 2vw;
}
.cardBox h3 {
    text-align: center;
}

.textBlock {
    /* font-size: 2rem;
    margin-left: 5vw;
    margin-right: 5vw; */
    /* display: none; */
}
