@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap");

* {
    font-family: "Fira Sans", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar h1 {
    margin: 2vw;
}
.links {
    display: flex;
    flex-direction: row;
    gap: 1vw;
    align-items: center;
}
.links a {
    background-color: red;
    border-radius: 0.5vw;
    text-decoration: none;
    color: black;
    padding: 0.5vw;
}
.cardHolderTop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.cardHolderTop .cardBox {
    display: inline-block;
    width: fit-content;
    font-size: 3rem;
    border: 5px solid black;
    border-radius: 2vw;
    align-self: center;
    margin: 1vw;
}
.cardHolderTop h3 {
    text-align: center;
    padding-left: 8vw;
    padding-right: 8vw;
}

.allBlogs .cardList {
    display: flex;
    justify-content: center;
    gap: 2vw;
    flex-direction: row;
    flex-wrap: nowrap;
}
/* gonna need to restrict the amount of text for each article to be displayed, to make people click to render the page. */
.allBlogs .card {
    display: flex;
    flex-direction: column;
    max-width: 20vw;
}
.textBlock {
    /* font-size: 2rem;
    margin-left: 5vw;
    margin-right: 5vw; */
    /* display: none; */
}
