/* worked on for the boot camp */
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
    font-family: "Varela Round", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.loginBox {
    grid-column: 3 / span 2;
    background-color: #202c39;
    color: #fff;
    padding: 2vw;
    display: grid;
    gap: 2vw;
    border-radius: 1vw;
}
.loginBox h1 {
    justify-self: center;
}
.loginBox > input {
    background-color: #283845;
    color: white;
    justify-self: center;
    width: 50%;
    border-radius: 1vw;
    font-size: 1.5rem;
    padding: 0.5rem;
    box-shadow: none;
    height: 100%;
    border: none;
}
.loginBox > input:focus {
    transition: background-color 0.4s ease-in-out;
    background-color: #003554;
}
.loginBox > a {
    justify-self: center;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}
.loginBox > a:hover {
    text-decoration: underline;
    color: gray;
}
.loginBox > label {
    font-size: 1.5rem;
    font-weight: bold;
    justify-self: center;
}

@media screen and (max-width: 820px) {
    .loginBox {
        grid-column: 2 / span 4;
        gap: 5vw;
    }
}

@media screen and (max-width: 414px) {
    body {
        min-height: 100vh;
    }
    .loginBox {
        grid-column: span 6;
        gap: 12vw;
    }
    .loginBox > input {
        width: 75vw;
    }
}
